* {
    color: #EEEEEE;
    font-size: 1rem;
}

body {
    background-color: #121212;
    margin: 0rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h1 {
    font-family: "Figtree", sans-serif;
    font-weight: 350;
    font-size: 2rem;
    text-align: center;
    width: 100%;
}

p {
    font-size: 1rem;
    text-decoration: none;
    margin: 0rem;
}

a {
    text-decoration: none;
}

li {
    font-family: "Ubuntu Mono", monospace;
}

section {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

/* ------------------------------ */

.mono {
    font-family: "Ubuntu Mono", monospace;
}

.reg {
    font-family: "Figtree", sans-serif;
    font-weight: 400;

}

.opacity-50 {
    opacity: 50%;
}

/* ------------------------------ */

.pale-link {
    opacity: 50%;
}

.pale-link:hover {
    opacity: 100%;
    transition: all 0.3s ease-out;
}

a:hover {
    text-decoration: underline !important;
    transition: all 0.3s ease-out;
}

.navbar {
    border-bottom: solid 1px #282828;
    width: 100%;
    padding: .1rem;
}

.nav-elements {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    padding: 0rem 4rem;
}

.nav-elements li, a {
    list-style: none;
    text-decoration: none;
}

.rotated-arrow {
    --fa-rotate-angle: -135deg;
    opacity: 50%;
}

.nav-icon:hover {
    scale: 1.1;
    transition: all 0.3s ease-out;
}

.landing-section {
    display: flex;
    flex-direction: column;
    min-height: 18rem;
}

.two-col {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.line-divider {
    border-bottom: solid 1px #282828;
    width: 100%;
    max-width: 72rem;
    margin: 1rem auto;
}

.column-split {
    display: flex;
    flex-direction: row;
    gap: 2.5rem
}

.column {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 1rem;
    height: 100%;
}

.column-split {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 200px;
}