* {
    color: #d5d5d5;
    font-size: 1rem;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    margin: 0rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    min-height: 100vh;
}

h1 {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 350;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    line-height: 2.5rem;
}

h2 {
    font-family: "Figtree", sans-serif;
    font-weight: 350;
    font-size: 1.5rem;
    width: 100%;
    line-height: 2rem;
    margin-top: 0rem;
}

p {
    font-size: 1rem;
    text-decoration: none;
    margin: 0rem;
    font-family: "Figtree", sans-serif;
    line-height: 1.25rem;
}

a {
    text-decoration: none;
}

li {
    font-family: "Ubuntu Mono", monospace;
}

img {
    border-radius: .25rem;
}

section {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    padding: 1rem 4rem;
    gap: 2rem;
    border-top: solid 1px #282828;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 1rem;
}

/* ------------------------------ */

.opacity-50 {
    opacity: 40%;
}

.mono {
    font-family: "Ubuntu Mono", monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ------------------------------ */


.pale-link:hover {
    opacity: 100%;
    transition: all 0.3s ease-out;
}

a:hover {
    text-decoration: underline !important;
    transition: all 0.3s ease-out;
}

.navbar {
    border-bottom: solid 1px #282828;
    width: 100%;
    padding: .1rem;
}

.nav-elements {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    padding: 0rem 4rem;
    flex-wrap: wrap;
    row-gap: 1rem;
}

.nav-elements li, a {
    list-style: none;
    text-decoration: none;
}

.rotated-arrow {
    --fa-rotate-angle: -135deg;
    opacity: 50%;
}

.nav-icon:hover {
    scale: 1.1;
    transition: all 0.3s ease-out;
}

.landing-section {
    display: flex;
    flex-direction: column;
    min-height: 18rem;
}

.line-divider {
    border-bottom: solid 1px #282828;
    width: 90%;
    max-width: 72rem;
    margin: 1rem auto;
}

.column-split {
    display: flex;
    flex-direction: row;
    gap: 2.5rem
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    height: 100%;
}

.column-split {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
}

.visualization-container {
    background-color: #fff;
    width: 100%;
    min-height: 24rem;
    border-radius: .25rem;
    border: 2px solid #747474;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#view,
#view2 {
  width: 100%;
  height: 100%;
  max-width: 800px;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.text-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .25rem;
}

.block-link:hover {
    scale: 1.01;
    transition: all 0.3s ease-out;
}

@media (max-width: 40rem) {
  .column-split {
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 40rem) {
  h1 {
    font-size: 1.5rem;
  }
}